<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card" *ngIf="!isAddEmployeeComponentVisable">
                <div class="text-center">
                    <h1>Employee</h1>
                </div>
                <div class="text-left">
                    <button class="btn btn-primary" (click)="openAddEmployee()">Add New</button> 
                </div>

                <table class="table table-striped">
                    <thead class="thead-primary">
                        <tr>
                            <th scope="col">SL</th>
                            <th scope="col">Name</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Email</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let employee of employeeList; let indexOfelement=index;">
                            <th scope="row">{{ indexOfelement+1 }}</th>
                            <td>
                                {{ employee.firstName }} {{ employee.lastName }}
                            </td>
                            <td>{{ employee.phone}}</td>
                            <td>{{ employee.email }}</td>
                            <td>
                                <button class="btn btn-warning">View</button>
                                <button class="btn btn-danger ml-2">Delete</button> 
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                        (pageChange)="refreshCountries()">
                    </ngb-pagination>

                    <select class="form-select" style="width: auto" [(ngModel)]="pageSize"
                        (ngModelChange)="refreshCountries()">
                        <option [ngValue]="5">5 items per page</option>
                        <option [ngValue]="10">10 items per page</option>
                        <option [ngValue]="15">15 items per page</option>
                    </select>
                </div>
            </div>
            <div class="card">
                <!-- *ngIf="isAddEmployeeComponentVisable" -->
                <app-add-employee (backToEmployeeList)="backToEmployee($event)"></app-add-employee> 
            </div>
        </div>
    </div>
</div>