<div class="row">
    <div class="col-12 col-sm-12">
      <div class="card card-primary card-tabs">
        <div class="card-header p-0 pt-1">
          <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
            <li class="pt-2 px-3"><h3 class="card-title">EMS</h3></li>
          </ul>
          <ul class="nav justify-content-end">
            <li class="nav-item" (click)="Logout()">
              <a style="cursor: pointer;" class="nav-link disabled" tabindex="-1" aria-disabled="true">Logout</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="card" *ngIf="!isAddEmployeeComponentVisable">
                        <div class="wrapper">
                            <div class="content-wrapper">
                              <section class="content-header">
                                <div class="container-fluid">
                                  <div class="row mb-2">
                                    <div class="col-sm-6">
                                      <h2>Employee List</h2>
                                    </div>
                                  </div>
                                </div>
                              </section>
                          
                              <section class="content">
                                <div class="container-fluid">
                                  <div class="row">
                                    <div class="col-12">
                                      <div class="card">
                                        <div class="card-header">
                                          <button class="btn btn-secondary" (click)="openAddEmployee()">Add Employee</button> 
                                          <!-- <h3 class="card-title">Employee Basic Information</h3> -->
                                        </div>
                                          <div class="card-body">
                                              <table id="example2" class="table table-bordered table-hover">
                                                  <thead>
                                                      <tr><th>SL</th>
                                                          <th>First Name</th>
                                                          <th>Last Name</th>
                                                          <th>Phone</th>
                                                          <th>Email</th>
                                                          <th class="text-right">Action</th>
                                                      </tr>
                                                  </thead>
                                                  <tbody>
                                                      <tr *ngFor="let employee of employeeList; let indexOfelement=index;">
                                                          <th scope="row">{{ indexOfelement+1 }}</th>
                                                          <td>
                                                              {{ employee.firstName }}
                                                          </td>
                                                          <td>
                                                               {{ employee.lastName }}
                                                          </td>
                                                          <td>{{ employee.phone}}</td>
                                                          <td>{{ employee.email }}</td>
                                                          <td>
                                                              <button class="btn btn-warning" (click)="open(content,employee)">View</button>
                                                              <button class="btn btn-danger ml-2" disabled>Delete</button> 
                                                          </td>
                                                      </tr>
                                                  </tbody>
                                              </table>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </section>
                            </div>
                          </div>
                    </div>
                    <app-add-employee (backToEmployeeList)="backToEmployee($event)" *ngIf="isAddEmployeeComponentVisable"></app-add-employee> 
                </div>
            </div>            
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile Info</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-6">
          <div class="details-tab">
            <div class="d-flex flex-row align-items-center mb-2">
              <h3 class="card-title media-body">Basic Information</h3>
            </div>
            <div class="row view-basic-card">
                <div class="col-12 col-md-6 col-lg-3">
                  <label class="pmd-list-subtitle"><b>First Name</b></label>
                  <p class="pmd-list-title">{{employeePreview?.firstName}}</p>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                  <label class="pmd-list-subtitle"><b>Last Name</b></label>
                  <p class="pmd-list-title">{{employeePreview?.lastName}}</p>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                  <label class="pmd-list-subtitle"><b>Date of Birth</b></label>
                  <p class="pmd-list-title">{{employeePreview?.dateOfBirth}}</p>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                  <label class="pmd-list-subtitle"><b>Phone</b></label>
                  <p class="pmd-list-title"><a href={{employeePreview?.phone}} title=employeePreview?.phone>{{employeePreview?.phone}}</a></p>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                  <label class="pmd-list-subtitle"><b>Personal Email</b></label>
                  <p class="pmd-list-title"><a href="mailto:{{employeePreview?.email}}" title=employeePreview?.email>{{employeePreview?.email}}</a></p>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                  <label class="pmd-list-subtitle"><b>Gender</b></label>
                  <p class="pmd-list-title">{{employeePreview?.gander}}</p>
                </div>
              </div>
          </div>
        
          <!-- Employee Information -->
          <div class="details-tab">
            <div class="d-flex flex-row align-items-center mb-2">
              <h3 class="card-title media-body">Skill Information</h3>
            </div>
            <!-- View Card -->
            <div class="row view-employee-card" *ngFor="let skill of employeePreview?.skills">
                <div class="col-12 col-md-6 col-lg-3">
                  <label class="pmd-list-subtitle"><b>Skill Name</b></label>
                  <p class="pmd-list-title">{{skill.skillName}}</p>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                  <label class="pmd-list-subtitle"><b>Year of experience</b></label>
                  <p class="pmd-list-title">{{skill.yearOfExperience}}</p>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                  <label class="pmd-list-subtitle"><b>Level</b></label>
                  <p class="pmd-list-title">{{skill.skillLevel}}</p>
                </div>
              </div>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
  